<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <b>Versão 1.1</b>
    </div>
</div>
<h3 class="page-title"> Web App Seguros </h3>
<div ng-controller="DashboardController">
    <div class="note note-info">
        <h3>Visão Geral
            <span class="close" data-close="note"></span>
        </h3>
        <p> Descrição simples </p>
        </p>
    </div>
</div>
<script>
    Dashboard.init();
</script>